
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}














/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  /*background-color: red;*/
}



/*NAVIGATION BAR*/
[class*="col-"] {
  float: left;
  /*padding: 15px;*/
  margin: 0;
}

/*For Desktop*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*For mobile device*/
/*For Desktop*/

/*------Heading------*/
.col-12 .header-logo {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
}


.navbar {
  display: flex;
  /*overflow: hidden;*/
  background-color: #1A1F25;
  font-family: Arial, Helvetica, sans-serif;
  /*font-size: 16px;*/
}


.navbar a {
  /*float: left;*/
  flex: 1;
  /*font-size: 16px;*/
  color: white;
  text-align: center;
  padding: 0.875em 1em;
  text-decoration: none;
}

.dropdown {
  flex: 1;
}



.navbar a:hover {
  background-color: #59796F;
}

.show {
  display: block;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1A1F25;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#mobile .openbtn {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 5px;
	margin-bottom: 10px;
	border: 1px solid #1A1F25;
	border-radius: 5px;
	color: #1A1F25;
	background: rgba(0, 0, 0,0.0);
	padding: 3px;
	/*width: 5%;*/
}

#mobile h1 {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 50px;
	margin-top: 5px;
	transition: margin-left .5s;
	/*display: block;*/
	/*margin-bottom: 50px;*/
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  /*transition: margin-left .5s;*/
 /* padding: 16px;
  margin-top: 15px;*/
}

.hide {
  display: none;
}

.hideous {
  margin-left: 20px;
}

.disclaimer {
	background-color: #F4F4F4;
	padding: 20px;
	margin-right: 5% ;
	font-size: 1em;
}

@media screen and (max-height: 450px) {
		 /*.sidenav {margin-top: 150px;}*/
	  .sidenav a {font-size: 18px;}
	  #mobile h1 {
		/*position: absolute;
		top: 0;
		left: 0;
		margin-left: 50px;
		transition: margin-left .5s;*/
		/*display: block;*/
		margin-bottom: 50px;
	}
}

#mobile {
	display: none;
}

/*----Media Queries------*/
@media screen and (max-width: 766px) {

	.navbar, .col-12 h1.header-logo {
		display: none;
	}

	#mobile {
		display: block;
	}
	#main {
		margin-top: 3em;
	}
}

@media screen and (max-width: 500px) {

	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}

	[class*="col-"] {
	  float: left;
	  padding: 15px;
	  margin: 0;
	}
	.col-sm-12 {
		width: 100%;
		/*float: left;*/
  		padding: 10px;
  		margin: 0;
	}
}
span.col1 {
	color: #1A1F25
}
span.col2 {
	color: #59796F;
}
span.col3 {
	color: #1F2A27;
}

header h1 a {
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*width: 70%;*/
	text-decoration: none;
	font-weight: bold;
	font-size: 40pt;
	font-style: italic;
	
}


.white, .red {
	flex: 100%;
	padding: 30px 0 30px 20%;
	line-height: 2;
	font-size: 1.2em;
}

.red {
	background: #1A1F25;
  	color: white;
}

h3 {
	font-size: 2em;
	color: #1A1F25;
}
.white h1 a {
	text-decoration: none;
	color: white;
	display: block;
}

.white h1 {
	text-align: center;
	border: 1px solid red;
	width: 50%;
	background-color: red;
	color: white;
	margin-right: 5%;
}
.white p {
	margin-bottom: 20px;
}

@media only screen and (max-width: 900px){
	.white h1 {
	text-align: center;
	border: 1px solid red;
	width: 80%;
	background-color: red;
	color: white;
	margin-right: 5%;
}
	.white, .red {
		padding: 30px 0 30px 10%;
		line-height: 1.5;
	}

	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	.disclaimer {
font-size: 0.8em;
	}
}

#buy {
			flex-wrap: nowrap;
			overflow-x: auto;
			display: flex;
			justify-content: space-between;
			margin: 5%;
		}

		.card {
			background-color: #1A1F25;
			margin: 3px;
			width: 320px;
			height: 426px;
			flex: 0 0 auto;
			border-radius: 30px 30px 30px 30px;
			/*display: inline-block;*/
		}

		img {
			width: 320px;
			height: 213px;
  		border-radius: 30px 30px 0 0;
}



/**/

.element p {
  font-size: 23px;
  font-weight: 600;
  padding: 20px 20px 0 20px;
  color: white;
}
.element .tyu {
  font-size: 1em;
  font-weight: 100;
  /*padding: 5px;*/
}

		::-webkit-scrollbar {
    display: none;
    /*height: 500px;*/
}

section#myFaq {
  padding: 5%;
  width: 100%;
  display: block;
  color: white;
  background-color: #1A1F25;
  align-items: center;
  border-bottom: 10px solid #222222;
}
.faq {
  text-align: center;
}

/*MY ACCORDION MY ACCORDION*/
.myAccordion {
    padding: 30px 0 0 0;
    line-height: 2;
    font-size: 1em;
    /*background-color: orange;*/
    color: white;
}
.accordion {
  background-color: #303030;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  /*font-size: 1.5em;*/
  transition: 0.4s;
  border-bottom: 1.5px solid black;
}
.active, .accordion:hover {
  background-color: #303030;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  /*margin-left: 500px;*/
}

.active:after {
  content: "\2212";
}

.panel {
  background-color: #303030;
  max-height: 0;
  text-align: left;
  padding:0 3%;
  line-height: 1.5em;
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
  /*font-size: 1.5em;*/
  transition: max-height 0.2s ease-out;
}

/*END OF MYACCORDION*/

/*------Footer------*/
footer {
	/*display: flex;*/
	background-color: #1A1F25;
	color: white;
	bottom: 0;
	margin-bottom: 50px;
	position: relative;
	width: 100%;
		font-size: 11pt;

	/*justify-content: space-around;*/
}

footer a {
	color: white;
	text-decoration: none;

}

footer a:hover {
	color: red;
	text-decoration: none;
}
footer.col-12 {
	margin-top: 20px;
}

footer .footer_links {
	display: flex;
	/*flex: 3;*/
	justify-content: space-evenly;
}


footer .footer_name {
	margin-top: 5px;
	text-align: center;
	color: white;
	padding: 10px;
}

.not {
	cursor: not-allowed;
	/*display: inline-block;*/
}

.betResult {
	color: green;
	font-weight: 900;
}

